name: Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - uses: astral-sh/setup-uv@v3

      - name: Run unit tests
        run: uv run -m pytest tests
